<!DOCTYPE html>
<html>

<head>

<script src="https://unpkg.com/scrollreveal@4"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

      html.sr .load-hidden {
        visibility: hidden;
      }

      .hero-animated .animated {
        margin-bottom: 60px;
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
      }


      .icon-square {
          width: 3rem;
          height: 3rem;
          border-radius: .75rem;
        }

        .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
        .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
        .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

        .card-cover {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        .feature-icon-small {
          width: 3rem;
          height: 3rem;
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      @keyframes up-down {
        0% {
          transform: translateY(10px);
        }

        100% {
          transform: translateY(-10px);
        }
      }

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin: 0;
            padding-bottom: 100px; /* Height of the footer */
            background-color: #fff4f4;
        }
        footer.footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #001035;
            color: white;
            padding: 20px 0;
        }
        .btn-animation
        {
          animation: mymove 4s infinite;
        }
        @keyframes mymove {
          25% {border-color: lightblue;}
          50% {border-color: lightpink;}
          75% {border-color: lightseagreen;}
        }
        
        @keyframes color-cycle{
          25% {border-color: lightblue;}
          50% {border-color: lightpink;}
          75% {border-color: lightseagreen;} 
        }

       
        #animated-icon {
            animation: color-cycle 3s infinite; 
        }
        @media (max-width:982px)
        {
          .hero-animated
          {
            margin-left: 20%;
          }
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      /*--------------------------------------------------------------
      # Services
      --------------------------------------------------------------*/
      .services .icon-box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
      }

      .services .icon-box::before {
        content: "";
        position: absolute;
        background: #fce6e6;
        right: -60px;
        top: -40px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        transition: all 0.3s;
        z-index: -1;
      }

      .services .icon-box:hover::before {
        background: #f39999;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        
      }

      .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 10px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: #f39999;
      
        transition: all 0.3s ease-in-out;
      }

      .services .icon i {
        font-size: 36px;
        line-height: 1;
        color: #fff;
      }

      .title{
        color:white;
      }


      .services .icon-box:hover .title a,
      .services .icon-box:hover .description {
        color: #fff;
      }

      .services .icon-box:hover .icon {
        background: #fff;
      }

      .services .icon-box:hover .icon i {
        color: #f39999;
      }
      .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: .75rem;
      }

      .icon-square {
        width: 3rem;
        height: 3rem;
        border-radius: .75rem;
      }

      .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
      .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
      .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

      .card-cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }

      .feature-icon-small {
        width: 3rem;
        height: 3rem;
      }
      .hover-effect {
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1);
        transition: transform 0.3s ease; 
        border: none;
      }

      .hover-effect:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); 
          transform: scale(1.09);
      }
          /* extension */
          html.sr .widget {
      visibility: hidden;
      }
    </style>
</head>
<body>


  <!--============= Navigation Section ===========================-->

  <header class="p-3 mb-3 border-bottom shadow-sm sticky-top" style="background-color: white;">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center ">
          <a href="Recruiter_Home" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">

              <img src="assets/home_logo.png" style="height: 45px; " >

          </a>
  
          <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
            <li><a href="Interview_Creation" class="nav-link px-2 link-body-emphasis" >Create Interview</a></li>
            <li><a href="Schedule_Log" class="nav-link px-2 link-body-emphasis">Schedule log</a></li>
            <li><a href="#" class="nav-link px-2 link-body-emphasis">Smart Features</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <button type="button" style="background-color: white; color: #f39999; border: none;" class=" shadow btn btn-primary position-relative rounded-circle">
              <i class="bi bi-bell"></i>
              </span>
            </button>
          </form>
  
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="assets/db_icon.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">hello <%= Recruiter_details.Name %></a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!--============= Navigation Section Ends ===========================-->

    <!--====================== Hero Section Starts ============================-->



    <div class="container col mt-5">
      <div class="row flex-lg-row-reverse flex-wrap-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        <span id="hero-animated" class="hero-animated ">
          <img src="assets/Test.png" class="img-fluid animated">
        </span>        
        </div>
        <div class="col-lg-6">
          <h3 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Darwinview <span style="border-right: 3px solid #0183ff; background-color: #b3caff;" class="px-2 py-1 rounded-start-3 fw-light">Recruiter</span> <sub class="p-1" style="font-size: 10px; color:white; background-color: #0183ff; margin-left:-2%; ">Edition</sub> </h3>
          <p class="lead">Darwinview Recruiters edition infused with Intelligent Interview System(IIS) which enables a high-end 1:1 interview expereince in the assessments enhanced with multiple AI engines.More formally even if recruiter make a mistake of wrong hire but AI won't.</p>
          <div class="d-grid d-md-flex justify-content-center">
            <a href="#dynamic-area"><button type="button" class="btn btn-outline-secondary border-2 btn px-4 rounded-5 btn-animation justify-content-center" style="border-color: sandybrown;"><i class="bi bi-binoculars"></i> Getting Started</button></a>
          </div>
          
        </div>
      </div>
    </div>


    <!--========================== Hero Section Ends ==========================-->





      <!--========================== Dynamic Questioning System Starts ===================-->

   <div class="container px-4 py-5 mt-5 flex-wrap" id="dynamic-area">
    <h2 class="pb-2 border-bottom text-center">
      <svg width="560" height="62" class="text-center">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#4285f4">
              <animate attributeName="stop-color" values="#4285f4; #9b72cb; #d96570; #4285f4" dur="2s" repeatCount="indefinite" />
            </stop>
            <stop offset="50%" style="stop-color:#9b72cb">
              <animate attributeName="stop-color" values="#9b72cb; #d96570; #4285f4; #9b72cb" dur="2s" repeatCount="indefinite" />
            </stop>
            <stop offset="100%" style="stop-color:#d96570">
              <animate attributeName="stop-color" values="#d96570; #4285f4; #9b72cb; #d96570" dur="2s" repeatCount="indefinite" />
            </stop>
          </linearGradient>
        </defs>
        <text x="10" y="40"  font-size="40" fill="url(#gradient)">Dynamic Query Environment</text>
      </svg>
      

    </h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <div class="justify-content-center">
          <div>
            <div class="card" style="width: 30rem; border:none">
              <img src="assets/dynamic_query.png"  alt="...">
            </div>          
          </div>
        </div>
        
        <h3 class="fw-bold text-body-emphasis">Dynamic Questioning Recommendations</h3>
        <p class="text-body-secondary">Recruiters can now able to access wide range of problem statements generated from various sources within the interview environment using Darwinview AI. This increases the chance of assessing the candidate deep into the roots.</p>
        <div class="d-grid d-md-flex justify-content-center">
          <button type="button" class="btn btn-outline-secondary border-2 btn px-4 rounded-5 btn-animation justify-content-center" style="border-color: sandybrown;"><i class="bi bi-magic"></i> Experience Now</button>
        </div>   
      </div>

      <div class="col flex-wrap">
        <section id="services" class="services">

        <div class="row row-cols-1 row-cols-2 g-5 widget-list">

          <div class="col d-flex flex-column  p-3 widget">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-clock-history"></i></div>
              <h4 class="title" >Speech History</h4>
              <p class="description a">Recruiters will get generated Questions/Queries based on past few minutes speech of candidates during the interview at any point of time.</p>
            </div>
          </div>

          <div class="col d-flex flex-column p-3 widget">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-file-earmark-break"></i></div>
              <h4 class="title"> Resume Based </h4>
              <p class="description">Generate Questions/queries using candidate resume based on Qualifications, Projects, Certifications allowing to assess from candidate expereince.</p>
            </div>
          </div>

          <div class="col d-flex flex-column p-3 widget">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
              <h4 class="title">Job Description</h4>
              <p class="description">Recruiter can get all types of recommendations such as Query related to Preferred Skills,Qualifications from Job Description </p>
            </div>
          </div>

          <div class="col d-flex flex-column  p-3 widget ">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-sliders"></i></div>
              <h4 class="title">Custom Generation</h4>
              <p class="description">Recruiter able to generate customized queries based on Role specific, Technology specific, Framework Specific, Topic Specific during interview</p>
            </div>
          </div>

        </div>
        </section>
      </div>
    </div>
  </div>

   <!--========================== Dynamic Questioning System Ends ===================-->

   <!--===================== Whats in store starts ==================================-->

   <div class="container my-5 mb-5 rounded-4" >
    <div class="py-2 text-center  rounded-5 " style="background-color:#fff4f4;">
      <img class="d-block mx-auto mb-4" src="assets/Whats_in_store.png" alt="" height="347" width="459">
      <h1 class="rubik-doodle">Whats in store ?</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        “Darwinview Recruiters Edition indulged with massive features enhancing end-to-end interview expereince while assessing the candidate”
      </p>
      <div class="d-inline-flex gap-2 mb-5">

        <a href="#featured-3"><button type="button" class="btn btn-outline-secondary border-2 btn px-4 rounded-5 btn-animation justify-content-center" style="border-color: sandybrown;"><i class="bi bi-rocket-takeoff"></i> Explore Features</button></a>

      </div>
    </div>
  </div>
    <br>
   <!--===================== Whats in store ends ====================================-->

   <!--========================= Features Area Starts =======================================-->

   <div class="container px-4 py-4 rounded-5 shadow" id="featured-3" style="background-color: white;"  >
    <h2 class="pb-2 border-bottom"><i class="bi bi-stars" id="animated-icon"></i> Recruiter Edition Offers </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 widget-list">
      <div class="feature col widget">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3" style="background-color: #f39999;">
          <i style="color:white" class="bi bi-speedometer2"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Relevance Rate</h3>
        <p>Recruiters will get the Relevance Rate based on Candidate speech measured upon recruiter query & candidate response resulting whether candidate is in right pace .</p>

      </div>
      <div class="feature col widget">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3" style="background-color: #f39999;">
          <i style="color:white" class="bi bi-award"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Fitness Rate</h3>
        <p>Generates Fitness Percentage on particular based on Interview Performance, Job Description & other several parameters where candidate is well fit for role or not!</p>

      </div>
      <div class="feature col widget">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3" style="background-color: #f39999;">
          <i style="color:white" class="bi bi-activity"></i>
        </div>
        <h3 class="fs-2 text-body-emphasis">Communicational Rate</h3>
        <p>Recruiter will get reports on communicational & behaviourial analysis of the candidate which further assess the non-technical side of interview.</p>

      </div>
    </div>
  </div>
   <!--=========================== Featues Area Ends =================================-->

  <!--================= About Us section starts ======================-->

   <div class="container col-xxl-8 px-4 ">
    <div class="row flex-lg-row-reverse flex-wrap-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About us</h1>
        <p class="lead">Darwinview Recuiters Edition established to optimize every inch of interview process. On a single click recruiter will get all types of recommendations & reports using Darwinview AI(GPT) without any manual intervention of numbers. Just sit in interview & enjoy the expereince as a recruiter. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">

            <a href="mailto:contact@darwinbox.com"><button type="button" class="btn btn-outline-secondary border-2 btn px-4 rounded-5 btn-animation justify-content-center icon-link-hover" style="border-color: sandybrown;"> Catch Us <i class="bi bi-chevron-double-right icon-link-hover"></i></button></a>
    
        </div>
      </div>
      
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/recruiter_about.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
      </div>
    </div>
  </div>

  <!--================= About Us section Ends ======================-->

       <!--============================== Also Visit Starts =============================-->

       <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Also Visit <i class="bi bi-send" style="color: #0183ff;"></i></h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 widget-list">
          <div class="col widget">
            <a href="/" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg hover-effect" style="background-image: url('assets/cobalt_blue.png');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinview for Candidates</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <i class="bi bi-fire"></i> &nbsp;Trending
                  </li>
                </ul>
              </div>
            </div>
            </a>
          </div>
    
          <div class="col widget">
            <a href="#" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow hover-effect" style="background-image: url('assets/candy_peach.png');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinview Assessments</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <i class="bi bi-fire"></i> &nbsp;Trending
                  </li>
                </ul>
              </div>
            </div>
            </a>
          </div>
    
          <div class="col widget">
            <a href="https://darwinbox.com/" style="text-decoration: none;">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg hover-effect" style="background-image: url('assets/signal_blue.png');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Darwinbox</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://play-lh.googleusercontent.com/B88BIRfLaHsR4FY97MOs7l4rEfpgXnUMlqc1DUzaoBI0nLmADRNYTkBtnyo0mlC5hfE" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <i class="bi bi-magic"></i> &nbsp;Top in Tech
  
                  </li>
  
                </ul>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
  
      
      <!--============================= Also Visit Ends ================================-->



    <!-- Footer Section -->
    <footer class="footer rounded-top-4 " >
        <div class="container text-center">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Home</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Features</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">Pricing</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">FAQs</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span style="color:white">About</span></a></li>
            </ul>
            <p class="text-center text-body-secondary"><span style="color:white">&copy; 2024 Darwinview, Inc</p>
        </div>
    </footer>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script>
      ScrollReveal().reveal('.widget', { interval: 300 });
    </script>

  </body>
</html>
